In [1]:
import pandas as pd

In [4]:
movies_df = pd.read_csv('./data/IMDb_movies.csv'
                        , low_memory = False
                       )
movies_df.sample(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
9340,tt0051076,Io non sono una spia,Three Brave Men,1956,1956-12-01,Drama,88,USA,English,Philip Dunne,...,"Ray Milland, Ernest Borgnine, Frank Lovejoy, N...","During the Cold War, a Maryland civilian emplo...",6.5,153,$ 1050000,NaN,NaN,NaN,8.0,3.0
76454,tt5011604,Con Men,Con Men,2015,2016-01-01,"Crime, Drama, Mystery",90,"UK, USA",English,R. Paul Wilson,...,"Liesl Brown, Sarah-Beth Brown, Paul Carruth, P...",Two con artists go after the wrong score and p...,6.3,112,GBP 5000,NaN,NaN,NaN,7.0,1.0
74196,tt4263780,The Snarling,The Snarling,2018,2018-10-29,"Action, Comedy, Fantasy",83,UK,English,Pablo Raybould,...,"Laurence Saunders, Chris Simmons, Ben Manning,...",A sleepy English village is invaded by the cas...,4.4,398,NaN,NaN,NaN,NaN,18.0,8.0
47075,tt0446442,Alcuni giorni in settembre,Quelques jours en septembre,2006,2006-09-06,"Drama, Thriller",116,"Italy, France, Portugal","English, French, Italian, Arabic",Santiago Amigorena,...,"Juliette Binoche, John Turturro, Sara Forestie...","On September 1st, 2001 a spy receives informat...",5.3,1711,EUR 10000000,NaN,$ 471845,NaN,24.0,29.0
26047,tt0102275,L'ultimo guerriero,The Last Riders,1992,1992-02-01,"Action, Drama",90,"USA, Mexico",English,Joseph Merhi,...,"Erik Estrada, Angelo Tiffe, William Smith, Arm...","When his family is murdered, Johnny gets reven...",4.7,120,NaN,NaN,NaN,NaN,4.0,3.0

In [6]:
movies_df.shape

(85855, 22)

In [8]:
for x in movies_df.columns:
    print(x)

imdb_title_id
title
original_title
year
date_published
genre
duration
country
language
director
writer
production_company
actors
description
avg_vote
votes
budget
usa_gross_income
worlwide_gross_income
metascore
reviews_from_users
reviews_from_critics

In [9]:
movies_df.actors.iloc[0]

'Blanche Bayliss, William Courtenay, Chauncey Depew'

In [10]:
movies_df.metascore.iloc[0]

nan

In [12]:
movies_df.reviews_from_users.iloc[0]

1.0

In [13]:
movies_df.reviews_from_critics.iloc[0]

2.0

In [14]:
movies_df.isna().sum()

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   833
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64

In [15]:
movies_df.avg_vote.iloc[0]

5.9

In [16]:
movies_df.avg_vote.max(), movies_df.avg_vote.min()

(9.9, 1.0)

In [17]:
movies_df.votes.iloc[0]

154

In [5]:
names_df = pd.read_csv('./data/IMDb_names.csv'
                       , low_memory = False
                      )
names_df.sample(5)

,imdb_name_id,name,birth_name,height,bio,birth_details,date_of_birth,place_of_birth,death_details,date_of_death,place_of_death,reason_of_death,spouses_string,spouses,divorces,spouses_with_children,children
112262,nm0761415,Mart Sander,Martin Laurent Sander,196.0,Popular singer and TV host. Member of the Esto...,"August 10, 1967 inÂ Tallinn, Estonian SSR, USSR...",1967-08-10,"Tallinn, Estonian SSR, USSR [now Estonia]",NaN,NaN,NaN,NaN,NaN,0,0,0,0
45247,nm0286144,Sydney Forest,Sydney Forest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
213011,nm2633096,Mauricio ArgÃ¼elles,Mauricio ArgÃ¼elles,NaN,"Mauricio ArgÃ¼elles is an actor and producer, k...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
28429,nm0162737,Gabriele Cirilli,Gabriele Cirilli,NaN,"Gabriele Cirilli was born on June 12, 1967 in ...","June 12, 1967 inÂ Sulmona, Abruzzo, Italy",1967-06-12,"Sulmona, Abruzzo, Italy",NaN,NaN,NaN,NaN,Maria (? - present)Â (1 child),1,0,1,1
97888,nm0653829,Camilla Overbye Roos,Camilla Overbye Roos,NaN,"Camilla Overbye Roos was born in Copenhagen, D...","January 19, 1969 inÂ Copenhagen, Denmark",1969-01-19,"Copenhagen, Denmark",NaN,NaN,NaN,NaN,NaN,0,0,0,0