In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv('./data/IMDb_movies.csv'
                        , low_memory = False
                       )
movies_df.sample(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
13291,tt0062365,Thunder Alley,Thunder Alley,1967,1967-03-22,"Action, Drama, Romance",89,USA,English,Richard Rush,...,"Annette Funicello, Fabian, Diane McBain, Warre...",Stock car racer Tommy Callahan is forced to jo...,5.4,228,NaN,NaN,NaN,NaN,12.0,4.0
56733,tt1305854,Ga yau hei si 2009,Ga yau hei si 2009,2009,2009-01-22,Comedy,100,Hong Kong,Cantonese,Vincent Kok,...,"Raymond Pak-Ming Wong, Sandra Kwan Yue Ng, Lou...",A man asks a womanizer to court his eldest sis...,4.8,407,HKD 4000000,NaN,$ 9909495,NaN,3.0,4.0
59807,tt1595838,Devil's Bridge,Devil's Bridge,2010,2011-11-01,"Horror, Thriller",84,UK,English,Chris Crow,...,"Joseph Millson, Joshua Richards, Gary Mavers, ...",Sean takes his two friends into the rural wild...,4.3,219,GBP 500000,NaN,NaN,NaN,9.0,3.0
43811,tt0369258,Bal-Can-Can,Bal-Can-Can,2005,2005-10-11,"Action, Adventure, Comedy",89,"Italy, Republic of North Macedonia, UK","Albanian, Macedonian, Bulgarian, Croatian, Rus...",Darko Mitrevski,...,"Vlado Jovanovski, Adolfo Margiotta, Zvezda Ang...",A Macedonian military deserter and his Italian...,7.7,2483,EUR 1100000,NaN,$ 10932,NaN,9.0,4.0
39575,tt0274639,Nothing So Strange,Nothing So Strange,2002,2002-01-13,"Drama, Crime",82,USA,English,Brian Flemming,...,"Dave James, Mark Daniel Cade, Juan Canopii, Ke...","A mockumentary examining the December 2nd, 199...",5.9,111,NaN,NaN,NaN,NaN,3.0,5.0

In [3]:
names_df = pd.read_csv('./data/IMDb_names.csv'
                       , low_memory = False
                      )
names_df.sample(5)

,imdb_name_id,name,birth_name,height,bio,birth_details,date_of_birth,place_of_birth,death_details,date_of_death,place_of_death,reason_of_death,spouses_string,spouses,divorces,spouses_with_children,children
149266,nm1727809,Bartosz Porczyk,Bartosz Porczyk,NaN,"Bartosz Porczyk was born on November 6, 1980 i...","November 6, 1980 in Tomaszów Mazowiecki, Lódzk...",1980-11-06,"Tomaszów Mazowiecki, Lódzkie, Poland",NaN,NaN,NaN,NaN,NaN,0,0,0,0
130824,nm0896538,Florence Vidor,Florence Iona Arto,164.0,Houston-born-and-bred Florence Vidor was one o...,"July 23, 1895 in Houston, Texas, USA",1895-07-23,"Houston, Texas, USA","November 3, 1977 in Pacific Palisades, Califor...",1977-11-03,"Pacific Palisades, California, USA",undisclosed,Jascha Heifetz (20 August 1928 - 4 January 19...,2,2,2,3
32343,nm0192871,Petrea Curran,Petrea Curran,NaN,"Petrea Curran is an actress, known for Hellgat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
115472,nm0785277,Pepe Serna,Pepe Serna,NaN,The ever-reliable Mexican-American actor Pepe ...,"July 23, 1944 in Corpus Christi, Texas, USA",1944-07-23,"Corpus Christi, Texas, USA",NaN,NaN,NaN,NaN,Diane (1969 - present),1,0,0,0
128184,nm0876561,Erdogan Tünas,Erdogan Tünas,NaN,"Erdogan Tünas was born in 1935 in Istanbul, Tu...","1935 in Istanbul, Turkey","1935 in Istanbul, Turkey","Istanbul, Turkey","June 29, 2007 in Istanbul, Turkey (cancer)",2007-06-29,"Istanbul, Turkey",cancer,Suzan Avci (? - present),1,0,0,0